<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Diccboi ALert</title>
  </head>
  <body>
    <h1>Website under maintenance</h1>
    <p>
      Fuck off
    </p>
  </body>
</html>
